@font-face {
  font-family: 'FontAwesome';
  src: url('chrome-extension://__MSG_@@extension_id__/bower_components/font-awesome/fonts/fontawesome-webfont.eot');
  src: url('chrome-extension://__MSG_@@extension_id__/bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('chrome-extension://__MSG_@@extension_id__/bower_components/font-awesome/fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('chrome-extension://__MSG_@@extension_id__/bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('chrome-extension://__MSG_@@extension_id__/bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('chrome-extension://__MSG_@@extension_id__/bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

#videoAnnotations{
  font-family: "Open Sans", sans-serif;
  position: absolute;
  left: 0;
  top: 0;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  pointer-events: none;
}
#videoAnnotations h3{
  font-size: 16px;
}
#videoAnnotations .clear{
  clear: both;
}
#videoAnnotations div.left_side{
  transition: 0.2s;
  position: fixed;
  width: 404px;
  z-index: 1001;
  pointer-events: all;
}
#videoAnnotations div#start_time{
  font-size: 15px;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  width:145px;
  margin-left: 15px;
  color: black;
  z-index: 1000;
  margin-top: 18px;
  padding-left: 5px;
  box-sizing: border-box;
}
#videoAnnotations div.annotations_list{
  top: 0;
  position: realtive;
  width: inherit;
  display: inline-block;
  height: 500px;
  color: black;
  background: white;
  min-height: 255px;
  border: 1px solid #ccc;
  border-radius: 4px 0px 0px 4px;
  box-sizing: border-box;
  padding: 5px 20px 20px 20px;
  box-sizing: border-box;
}
#videoAnnotations .sidebar-visible {
  right: 0px;
}
#videoAnnotations .sidebar-hidden {
  right: -404px;
}
#videoAnnotations .create-annotation{
  padding: 1px;
  box-sizing: border-box;
  position: absolute;
  z-index: 1001;
  background: #fff;
  /*-webkit-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.3);*/
  border: 1px solid #ccc;
  border-bottom: 1px solid #fff;
  border-radius: 4px;
  pointer-events: all;
}

.chevron {
  position: absolute;
  width: 0;
  height: 0;
  top: 100%;
  left: 50%;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #fff;
  margin-left: -8px;
}

#videoAnnotations .create-annotation textarea.annotation_text{
  font-size: 13px;
  padding: 10px;
  box-sizing: border-box;
  display: block;
  margin: auto;
  border-bottom: 1px double #ccc;
}

#videoAnnotations .create-annotation .annotation_text{
  resize: none;
  outline: none;
  width: 300px;
  height: 200px;
  border: 1px solid #fff;
}
#videoAnnotations div.annotations_list .search_annotations{
  height: 36px;
  font-size:13px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 10px;
  padding-left: 10px;
  box-sizing: border-box;
}
#videoAnnotations div.annotations_list ul{
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}
#videoAnnotations div.annotations_list ul.annotations{
  color: #666;
  width: 100%;
  overflow-x: hidden;
  height: 370px;
  overflow-y: auto;
}
#videoAnnotations ::-webkit-scrollbar{
  width: 5px;
}
#videoAnnotations ::-webkit-scrollbar-track{
  background: #eee;
}
#videoAnnotations ::-webkit-scrollbar-thumb{
  background: #ccc;
}
#videoAnnotations div.annotation-detail{
  display: flex;
  flex-wrap: nowrap;
  margin-top: 5px;
}
#videoAnnotations .annotation-detail .fa{
  width: 5%;
}
#videoAnnotations .annotation-detail a.seek{
  width:  55%;
}
#videoAnnotations .annotation-description{
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}
#videoAnnotations .annotation-description span{
  /*To preserve line breaks*/
  white-space: pre-wrap;
}
#videoAnnotations div.annotations_list ul.annotations li.video-annotation{
  padding: 5px;
  box-sizing: border-box;
  font-size: 14px;
  display: inline-block;
  width: 98%;
  border-bottom: solid 1px #F1F1F1;
}
#videoAnnotations div.annotations_list ul.annotations li:last-child{
  border-bottom: none;
}
#videoAnnotations div.annotations_list ul.annotations li.video-annotation .edit-annotation textarea{
  width: 98%;
}
#videoAnnotations div.annotations_list ul.annotations li.video-annotation .description{
  width: 60%;
}
#videoAnnotations div.annotations_list ul.annotations li.video-annotation .description span.icon-title{
  cursor: pointer;
  padding-left: 10px;
  box-sizing: border-box;
}
#videoAnnotations div.annotations_list ul.annotations li.video-annotation .annotation-title{
  font-family: Carlito, Sans-serif;
  font-size: 14px;
  color: #222C36;
  text-transform: capitalize;
}
#videoAnnotations div.annotations_list ul.annotations li.video-annotation .annotation-description span{
  line-height: 18px;
  letter-spacing: 0.7px;
  color: #666;
  font-size: 14px;
}
#videoAnnotations div.annotations_list ul.annotations li.video-annotation span.label{
  border-radius: 6px;
  margin: 0px 4px 0px 4px;
  color: #333;
  font-size: 14px;
  width: 30%;
  max-height: 21px;
  text-align: center;
}
#videoAnnotations div.annotations_list .border-line{
  padding: 5px 0px;
  box-sizing: border-box;
  border-bottom: solid 1px #F1F1F1;
}

#videoAnnotations div.annotations_list .user_info {
  font-family: Carlito, Sans-serif;
  font-size: 10px;
  float: right;
  text-align: right;
}
#videoAnnotations div.annotations_list .user_info p{
  color: #888;
}
#videoAnnotations div.annotations_list .user_info a{
  color: #167ac6;
}
#videoAnnotations div.annotations_list .center{
  text-align: center;
}
#videoAnnotations div.annotations_list i {
  color:#444;
}
#videoAnnotations a.delete, #videoAnnotations a.edit{
  padding-right: 10px;
  box-sizing: border-box;
}
#videoAnnotations .hide{
  display: none;
}
#videoAnnotations .left_arrow{
  position: absolute;
  top: 100px;
  right: 403px;
  z-index: 1002;
  color: #666;
  font-size: 18px;
  border-radius: 10px 0px 0px 10px;
  padding: 10px 8px 10px 10px;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #ccc;
  border-right: 0px;
  cursor: pointer;
  pointer-events: all;
}
#videoAnnotations a.close_annotations{
  float: right;
  -webkit-border-radius: 50px;
  width: 28px;
  height: 28px;
  position: absolute;
  right: -14px;
  top: -14px;
}
#videoAnnotations a.close_annotations:hover{
  text-decoration: none;
}
#videoAnnotations .mt5{
  margin-top: 5px;
}
#videoAnnotations .pull-left{
  float: left;
}
#videoAnnotations .pull-right{
  float: right;
}
#videoAnnotations .ml10{
  /*margin-left: 10px;*/
}
#videoAnnotations .none{
  display: none;
}
#videoAnnotations a.button{
  display: inline-block;
  padding: 6px 12px;
  box-sizing: border-box;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
#videoAnnotations a.button{
  color: #666;
  background-color: #fff;
  border-color: #ccc;
  margin-right: 10px;
}
#videoAnnotations a.button:hover{
  color: #666;
  background-color: #e6e6e6;
  border-color: #adadad;
  margin-right: 10px;
}
#videoAnnotations a.button i{
  margin-right: 10px;
}
#videoAnnotations a.button:hover{
  text-decoration: none;
}

#videoAnnotations .flex{
  padding-top: 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
