#video-annotations{
	font-family: "Open Sans", sans-serif;
	position: absolute;
	right: 0;
	top: 0;
	width: initial;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}
#video-annotations .clear{
	clear: both;
}
#video-annotations div#start_time{
	position: absolute;
	width:145px;
	margin-left: 15px;
	color: black;
	z-index: 1000;
	margin-top: 18px;
	padding-left: 5px;
}
#video-annotations div.annotations_list{
	top: 0;
	position:absolute;
	width:405px;
	color: black;
	background: white;
	padding: 5px;
	margin-left: 10px;
	min-height: 255px;
	border: 1px solid #ccc;
	-webkit-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.3);
	box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.3);
}
#video-annotations .create-annotation{
	position: absolute;
	z-index: 1001;
	margin-left: 10px;
}
#video-annotations div.annotations_list .search_annotations{
	margin-left: 140px;
	width: 150px;
	height: 30px;
}
#video-annotations div.annotations_list ul.annotations{
	color: #006dae;
	width: 100%;
	overflow-x:scroll;
	max-height: 225px;
}
#video-annotations div.annotations_list ul.annotations li.video-annotation{
	padding: 5px;
	font-size: 14px;
	display: inline-block;
	width: 98%;
	border-bottom: solid 1px #F1F1F1;
}
#video-annotations div.annotations_list ul.annotations li:last-child{
	border-bottom: none;
}
#video-annotations div.annotations_list ul.annotations li.video-annotation .description{
	width: 70%;
}
#video-annotations div.annotations_list ul.annotations li.video-annotation .description span.icon-title{
	cursor: pointer;
}
#video-annotations div.annotations_list ul.annotations li.video-annotation .right-pane{
	float:right;
	width: 28%;
}
#video-annotations div.annotations_list ul.annotations li.video-annotation .annotation-title{
	font-weight: 600;
	font-size: 14px;
	color: #222C36;
	text-transform: capitalize;
}
#video-annotations div.annotations_list ul.annotations li.video-annotation .annotation-description{
	margin-top: 5px;
	margin-left: 27px;
}
#video-annotations div.annotations_list ul.annotations li.video-annotation .annotation-description span{
	line-height: 18px;
	letter-spacing: 0.7px;
	color: #666;
	font-size: 14px;
}
#video-annotations div.annotations_list ul.annotations li.video-annotation span.label{
	border-radius: 10px;
	color: #fff;
	font-size: 14px;
	padding: 1px 6px;
	margin-right: 3px;
}
#video-annotations div.annotations_list .border-line{
	padding: 5px 0px;
	border-bottom: solid 1px #F1F1F1;
}
#video-annotations div.annotations_list ul.annotations li.video-annotation span.label.quick{
	background: #F5A623;
}
#video-annotations div.annotations_list ul.annotations li.video-annotation span.label.time{
	background: #26A5C7;
}
#video-annotations div.annotations_list .user_info_detail .short-name{
	width: 50px;
	height: 35px;
}
#video-annotations div.annotations_list .user_info_detail .dropdown-menu{
	position: absolute;
	width: 100px;
	background: #006DAE;
	font-weight: 600;
	margin-left: -35px;
	display: none;
}
#video-annotations div.annotations_list .user_info_detail .dropdown-menu ul{
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}
#video-annotations div.annotations_list .user_info_detail:hover .dropdown-menu{
	display: block;
}
#video-annotations div.annotations_list .user_info_detail .dropdown-menu ul li{
	width: 100%;
	display: inline-block;
	text-align: center;
	border-bottom: 1px solid #fff;
}
#video-annotations div.annotations_list .user_info_detail .dropdown-menu ul li:last-child{
	border-bottom: none;
}
#video-annotations div.annotations_list .user_info_detail .dropdown-menu ul li a, #video-annotations div.annotations_list .user_info_detail .dropdown-menu ul li.user-name{
	padding: 3px 0px;
	width: 100%;
	display: block;
	text-align: center;
	color: #fff;
	font-size: 14px;
	text-decoration: none;
}
#video-annotations div.annotations_list .user_info_detail .dropdown-menu ul li a:hover{
	color: #006DAE;
	background: #fff;
	border: 1px solid #006DAE;
}
#video-annotations div.annotations_list .user_info_detail .short-name > .name{
	padding: 9px 12px;
	text-align: center;
	display: block;
	background: #006DAE;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	cursor: pointer;
	color: #fff;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
}
#video-annotations div.annotations_list ul.annotations li.video-annotation .description a:hover{
	text-decoration: none;
}
#video-annotations div.annotations_list .center{
	text-align: center;
}
#video-annotations .hide{
	display: none;
}
#video-annotations .left_arrow{
	color: black;
	position: absolute;
	font-size: 20px;
	padding: 10px 15px;
	background: #fff;
	border: 1px solid black;
	cursor: pointer;
}
#video-annotations a.close_annotations{
	float: right;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	width: 28px;
	height: 28px;
	position: absolute;
	right: -14px;
	top: -14px;
}
#video-annotations a.close_annotations:hover{
	text-decoration: none;
}
#video-annotations .mt5{
	margin-top: 5px;
}
#video-annotations .pull-left{
	float: left;
}
#video-annotations .pull-right{
	float: right;
}
#video-annotations .ml10{
	margin-left: 10px;
}
#video-annotations .none{
	display: none;
}