@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

.root {
    width: 100%;
    height: 100%;
}

.app {
    height: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex: 2;
}

.left-panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex: 1;
}

.youtube-player {
    border: 2px #000000;
    flex: 0.5;
}

.editor-top-level {
    background-color: #fafaf0;
    border: 3px #fcfaff;
    border-style: solid;
    font-family: 'Source Code Pro', sans-serif;
    font-size: 18px;
    flex: 1;
    min-width: 100vh;
    max-width: 100vh;
    min-height: 100vh;
    color: #090920;
    overflow-y: scroll;
    caret-color: #090820;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.5);
    line-height: 1;
}

.editor-top-level code {
    font-family: 'Source Code Pro', monospace;
    font-family: 16px;
    background-color: #f0f0ea;
}

.editor-top-level h1 {
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
    background-color: #f0f0ff;
}

.editor-top-level li {
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    background-color: #f0faf0;
}

.editor-top-level .inline-youtube-timestamp {
    background-color: #090090;
    color: #f0f0f0;
    font-style: underline;
}

.editor-top-level::selection {
    background-color: #020202;
}

blockquote {
    border-left: 2px solid #ddd;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    color: #aaa;
    font-style: italic;
}

blockquote[dir='rtl'] {
    border-left: none;
    padding-left: 0;
    padding-right: 10px;
    border-right: 2px solid #ddd;
}

.info-text {
    white-space: pre-wrap;
    background-color: #fefefe;
    color: #020209;
    font-weight: bold;
    border: 2px #0202a0;
    font-family: 'Source Code Pro', monospace;
    font-size: 12px;
}

.youtube-id-input {
    position: relative;
    transition: 0.3s all;
    width: 99%;
    justify-content: flex-end;
}

#__yt_video_id_input__ {
    font-family: 'Source Code Pro', sans-serif;
    font-size: 16px;
    background-color: #090909;
    width: 100%;
    color: #04fff0;
}

.youtube-id-input.locked {
    pointer-events: none;
}

.searchmenu-modal-cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: '#f0f0d070';
}
