@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');

.root {
    width: 100%;
    height: 100%;
}

.app {
    height: 100%;
}

.hotkey-root {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.left-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.youtube-player {
    border: 2px dotted #04fff0;
    height: 50%;
    width: 100%;
    flex: 0.49;
    justify-content: flex-start;
}

.editor-top-level {
    background-color: #606080;
    border: 0px dashed #04fff0;
    font-family: 'IBM Plex Mono', serif;
    font-size: 16px;
    flex: 1;
    min-height: 100vh;
    color: #04fff0;
    overflow-y: scroll;
    caret-color: #f0fe40;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.5);
}

.editor-top-level::selection {
    background-color: #020202;
}

.editor-editor {
    border-top: 0px solid #ddd;
    cursor: text;
    margin-top: 2px;
}

.editor-editor {
    min-height: 300px;
    max-height: fit-content;
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: 16px;
}

.editor-link {
    color: '#9ebdff';
    text-decoration: 'underline';
    font-style: 'italic';
}

.inline-youtube-timestamp {
    color: '#cd201f';
    text-decoration: 'underline';
    font-style: 'italic';
}

blockquote {
    border-left: 2px solid #ddd;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    color: #aaa;
    font-style: italic;
}

blockquote[dir='rtl'] {
    border-left: none;
    padding-left: 0;
    padding-right: 10px;
    border-right: 2px solid #ddd;
}

.info-text {
    white-space: pre-wrap;
    background-color: #090909;
    color: #f0fe40;
    font-weight: bold;
    border: 2px dotted #04fff0;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 12px;
    flex: 0.49;
}

.youtube-id-input {
    position: relative;
    transition: 0.3s all;
    width: 99%;
    flex: 0.02;
    justify-content: flex-end;
}

#__yt_video_id_input__ {
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: 16px;
    background-color: #090909;
    width: 100%;
    color: #04fff0;
}

.youtube-id-input.locked {
    pointer-events: none;
}
