html,
body {
    height: 100%;
}

.app {
    height: 100%;
}

.hotkey-root {
    height: 100%;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.youtube-player {
    border: 1px solid #eee;
    height: 50%;
    width: 50%;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.5);
}

.console-editor-root {
    background-color: #fffef7;;
    border: 2px solid #fffefe;
    font-family: 'Courier', serif;
    font-size: 20px;
    flex: 2;
    overflow-y: scroll;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.5);
}

.console-editor-editor {
    border-top: 1px solid #ddd;
    cursor: text;
    margin-top: 2px;
}

.console-editor-editor .public-DraftEditorPlaceholder-root,
.console-editor-editor .public-DraftEditor-content {
}

.console-editor-editor .public-DraftEditor-content {
    min-height: 300px;
    max-height: fit-content;
    font-family: 'Courier', sans-serif;
    font-size: 16px;
}

.console-editor-hidePlaceholder .public-DraftEditorPlaceholder-root {
    display: none;
}

.console-editor-editor .console-editor-blockquote {
    border-left: 2px solid #eee;
    color: #020202;
    font-family: 'Courier', 'Georgia', serif;
    font-style: italic;
    margin: 16px 0;
    background-color: #efefef;
}

.console-editor-editor .public-DraftStyleDefault-pre {
    background-color: rgba(0, 0, 0, 0.05);
    font-family: 'Courier', 'Menlo', 'Courier', monospace;
    font-size: 20px;
    padding: 20px;
}

.console-editor-controls {
    font-family: 'Courier', sans-serif;
    font-size: 16px;
    margin-bottom: 5px;
    user-select: none;
}

.console-editor-styleButton {
    color: #999;
    cursor: pointer;
    margin-right: 16px;
    padding: 4px 5px;
    display: inline-block;
}

.console-editor-activeButton {
    color: #5890ff;
}

.console-editor-link {
    color: '#9ebdff';
    text-decoration: 'underline';
    font-style: 'italic';
}
