timestamp {
  color: #008080;
  font-style: underline;
}


.ProseMirror {
  height: 100%;
  width: 100%;
  overflow: auto;
  outline: none;
}

.ProseMirror-menubar-wrapper {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}

.ProseMirror-menubar {
  padding: 16px 0;
}


.vid-grab {
    border: 1px solid lightgray;
    outline: none;
    width: 100%;
}

.vid-grab--focus {
    outline: none;
    border: 1px solid gray;
}
