@custom-media --viewport-medium (width <= 50rem);

@custom-selector :--heading h1, h2, h3, h4, h5, h6;

:root {
	--mainColor: #12345678;
}

body {
	color: var(--mainColor);
	font-family: system-ui;
	overflow-wrap: break-word;
}

:--heading {
	@media (--viewport-medium) {
		margin-block: 0;
	}
}

a {
	color: rebeccapurple;

	&:hover {
		color: color-mod(var(--mainColor) alpha(80%));
	}
}
